
			h1{
				color: purple;
			}
			h3{
				color: blue;
				background-color: green;
			}
			#Languages_title{
					color: purple;
				}
	
			.Language_item{
					color: blue;
				}

			p{
				font-family: 'Arial';
			}